/* body */
body{
	font-family: 'Roboto', 'Ariel';
}

/* top panel */
#top-panel{
	width: 100%;
	height: 50px;
	background-color: #1d7582;
}

/* intro-container */

#intro-container{
padding:10px;
margin-bottom: 50px;
}
h4{
  text-align:center;
}
/* main-container */
#main-container{
width: 100%;	

}

/* nav tabs */
.nav.nav-tabs>li{
border: 1px solid #D3D3D3; 
padding: 0px;
border-bottom: none;
}
/* module-container */
#module-container{
	border: 1px solid black;
}
/* box1 and box2 */
#box1{
	background-color: #1d7582;
	width: 50%;
	height: 600px;
	float:left;
	padding:10px;
	border-left: 1px solid black;
}

#box2{
   background-color: #646464;
	width: 50%;
	height: 600px;
	float:right;

}
/* Chatbox */

#chatbox{
		height: 400px;
	width: 900px;
	margin: 0 auto;
    
}
#chat-container{
	width: 100%;

}

#chat-row{
margin-top: 100px;
}

input{
	width: 100%;
	padding: 10px;
	text-align: center;
	border:none;
	
}
.btn.btn-success{
width: 100px;
height: 40px;
margin-left: -30px;
}
